CLAUDE.md

# Frontend
node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# Backend
backend/build/
backend/bin/
backend/.gradle/
backend/out/

# IDE
.idea/
*.iml
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
*.local